<div id="container">
  <div id="content">
    <div id="carName">
      <h1>Choose Car Name</h1>
      <!-- <h2 *ngIf="!showName">
        Your Choose:<span style="font-weight: bold;">{{name}}</span>
      </h2> -->
      <select [(ngModel)]='name' (ngModelChange)="carNameChoose()">
        <option *ngFor="let car of carName">
          {{car}}
        </option>
      </select>
    </div>
    <div id="carModel">
      <h1>Choose Car Model</h1>
      <select [(ngModel)]='model' (ngModelChange)="carModelChoose()" *ngIf="showModel">
        <option *ngFor="let modele of carModel">
          {{modele}}
        </option>
      </select>
    </div>
    <div id="carColor">
      <h1>Choose Car Color</h1>
      <ul *ngIf="showColor" id="colors">
        <li *ngFor="let color of carColor" (click)="carColorChoose(color)">
          <div style="height:1rem;width: 1rem;" [ngStyle]="{'background-color':color}"></div>
        </li>
      </ul>
    </div>
  </div>
  <div id="finalcar" *ngIf="showFinalPosition">Your brand:<span style="font-weight: bold;">{{name}}</span>  Your model:<span style="font-weight: bold;">{{model}}</span>  Your Color:<div style="height:1rem;width: 1rem;" [ngStyle]="{'background-color':color}"></div>
</div>
</div>
