<div id="container">
  <div id="carName" *ngIf="!showFinalPosition">
    <h1>{{titleTextName}}</h1>
    <h2 *ngIf="!showName">
      Your Choose:<span style="font-weight: bold;">{{name}}</span>
    </h2>
    <ul *ngIf="showName">
      <li *ngFor="let car of carName" (click)="carNameChoose(car)">
        {{car}}
      </li>
    </ul>
  </div>
  <div id="carModel" [hidden]="!showModel&&!showColor">
    <h1>{{titleTextModel}}</h1>
    <h2 *ngIf="!showModel">
      Your Choose:<span style="font-weight: bold;">{{model}}</span>
    </h2>
    <ul *ngIf="showModel">
      <li *ngFor="let model of carModel" (click)="carModelChoose(model)">
        {{model}}
      </li>
    </ul>
  </div>
  <div id="carColor" [hidden]="!showColor">
    <h1>{{titleTextColor}}</h1>
    <h2 *ngIf="!showColor">
      Your Choose:<span style="font-weight: bold;">{{color}}</span>
    </h2>
    <ul *ngIf="showColor" id="colors">
      <li *ngFor="let color of carColor" (click)="carColorChoose(color)">
        <div style="height:1rem;width: 1rem;" [ngStyle]="{'background-color':color}"></div>
      </li>
    </ul>
  </div>
  <div id="finalcar" *ngIf="showFinalPosition">
    Your brand:<span style="font-weight: bold;">{{name}}</span>  Your model:<span style="font-weight: bold;">{{model}}</span>  Your Color:<div style="height:1rem;width: 1rem;" [ngStyle]="{'background-color':color}"></div>
  </div>
  <button (click)="reset()">RESTART</button>
</div>