.divek{
    border: 1px solid blue;
    background-color: rgb(255, 0, 0);
    color:white;
    font-size: 40px;
}
#kontener{
    display: flex;
    justify-content:space-between;
    border: 1px solid red;
}
#left{
    display: flex;
    justify-content:space-between;
    width:40%;
}
#right{
    display: flex;
    justify-content: flex-end;
}