<div id="container" *ngIf="authService.adminPermition()||authService.managerPermition()||authService.userPermition()">
    <div *ngFor="let name of authService.getResevationArray()">
        <div class="item">
            <span style='font-weight: bold'>{{name.quantity}}</span> X {{getName(name.index)}} {{(name.quantity*getUnitPrice(name.index)*tripdata.multiply()).toFixed(2)}}{{tripdata.currency}}
            <button (click)="buyOne(name.index)"><i class="fa-solid fa-money-bill"></i></button>
        </div>
    </div>
    <div>Do zapłaty:{{(this.fullCost()*tripdata.multiply()).toFixed(2)}}{{tripdata.currency}}</div>
    <button (click)="buyAll()" id="all">kup wszystkie wycieczki</button>
</div>
