<div id="container">
    <div id="select">
        <select [(ngModel)]="fillter">
            <option value="0">Wybierz kryterium</option>
            <option value="1">Zakończona</option>
            <option value="2">W trakcie</option>
            <option value="3">Oczekujący</option>
        </select>
    </div>
    <div *ngFor="let name of authService.getBoughtArray()">
        <div *ngIf="fillterCheck(getText(name.index))" class="trip">
            <img [src]="getTrip(name.index).img">
            <div id="information">
                <div>{{getTrip(name.index).title|uppercase}}</div>
                <div>Cena jednostkowa wycieczki:{{(getTrip(name.index).unitPrice*tripData.multiply()).toFixed(2)}}{{tripData.currency}}</div>
                <div>Ilość wykupionych miejsc:{{name.quantity}}</div>
                <div>Całkowity koszt:{{(name.quantity*getTrip(name.index).unitPrice*tripData.multiply()).toFixed(2)}}{{tripData.currency}}</div>
                <div>od {{getTrip(name.index).start}} do {{getTrip(name.index).end}}</div>
            </div>
            <div id="status">
                Status Wycieczki:
                <div [ngStyle]="{'color':getColor(name.index)}">{{getText(name.index)}}</div>
            </div>
        </div>
    </div>
</div>