body{
    background-color: rgb(129, 161, 189);
    padding:0;
    margin:0;
    font-family: sans-serif;
}

#container{
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:5vh;
}

.element{
    background-color: white;
    border-radius: 10px;
    width:100%;
    display: flex;
    flex-direction: column;
    
}

.element>span{
    width: fit-content;
    margin-left:5%;
}
h2>span{
    margin-left:0;
}