body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score{
    margin-top:10vh;
}

#blue{
    height: 175px;
    width: 175px;
    background-color: rgb(198, 170, 241);
    border: 1px solid black;
}

#red{
    height: 125px;
    width: 125px;
    background-color: red;
}

#yellow{
    height: 75px;
    width: 75px;
    background-color: yellow;
}

div>span{
    font-size: 1.8rem;
    z-index: 1;
}
div{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
}
.disable{
    background-color: gray !important;
    cursor:no-drop;
}
#Buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#Buttons>button{
    width: 100%;
}