#menu{
    margin-top:1.5vh;
    height:100vh;
    transition: width 1s;
    float:left;
    width: 200px;
}

.elemnts{
    height: 3.2rem;
    width: 92%;
    border-radius: 0 10px 10px 0;
    margin-bottom: 1.5vh;
    display: flex;
    color:rgb(30,129,176);
    padding-left: 3%;
    font-size: 0.9rem;
    align-items: center;
}

body{
    margin:0;
}

.tresc1{
    color:rgb(29, 106, 206);
    margin-left:5%;
    transition: 1s;
}

.elemnts:hover{
    background-color: lightseagreen;
    color:white;
}

#border{
    height: 99vh;
    border-left: 99vh;
    border:solid wheat;
    float:left;
}
div>i{
    font-size: 1.3rem;
}
@media screen and (max-width: 400px){
    .tresc1{
        opacity: 0;
        position: absolute;
        left:5%;
    }
    #menu{
        width: 15%;
    }
    .elemnts{
        justify-content: center;
    }
}
@media only screen and (min-width: 401px) and (max-width: 640px) {
    #menu{
        width: 10%;
    }
    .tresc1{
        opacity: 0;
        position: absolute;
        left:5%;
    }
    .elemnts{
        justify-content: center;
    }
}