<div id="container">
    <app-child [item]="name"></app-child>
    <div id="content">
        <h1>Wybierz temat</h1>
        <div id="topicToChoose">
           <div class="topic">
                <h4>The Basics</h4>
                <p>Core Angular basics you have to know</p>
                <button (click)='Clicked("Basics")'>Learn More</button>
           </div> 
           <div class="topic">
                <h4>Components</h4>
                <p>Components are a core concept for building Angular UIs and apps</p>
                <button (click)='Clicked("Components")'>Learn More</button>
           </div>
           <div class="topic">
                <h4>Events</h4>
                <p>Events are important in Angualar</p>
                <button (click)='Clicked("Events")'>Learn More</button>
           </div>
        </div>
    </div>
</div>