#container{
    padding: 2rem;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
#buttonsSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cheapest{
    border: 5px solid red;
}
.mostExpensive{
    border: 5px solid green;
}
.normal{
    border:5px solid white;
}
.orangeBorder{
    border: 5px solid orange;
}
#container>button{
    align-self: center;
}
img{
    align-self: center;
    border-radius: 50%;
    width: 100%;
}
#deleteButton{
    position: absolute;
    background-color: transparent;
    border: none;
    right:3%;
    top:3%;
    font-size: 1.3rem;
    font-weight: bold;
}
