<div id="container">
    <header>
        <h1>Wycieczki z nami</h1>
        <p>Zapraszamy na niezapomniane wyprawy po całym świecie</p>
    </header>
    <main>
        <section id="oferta">
          <h2>Nasza oferta</h2>
          <p>Oferujemy wycieczki do najpiękniejszych zakątków świata, takich jak:</p>
          <ul>
            <li>Malediwy</li>
            <li>Tajlandia</li>
            <li>Meksyk</li>
            <li>Grecja</li>
            <li>Chorwacja</li>
          </ul>
        </section>
        <section id="o-nas">
          <h2>O nas</h2>
          <p>Jesteśmy firmą z wieloletnim doświadczeniem w organizowaniu wyjazdów. Nasza kadra to profesjonalni przewodnicy, którzy zadbają o każdy szczegół Twojej podróży.</p>
        </section>
        <section id="kontakt">
          <h2>Kontakt</h2>
          <p>Jeśli masz pytania lub chciałbyś zarezerwować wycieczkę, skontaktuj się z nami:</p>
          <ul>
            <li>email: wycieczki@naszafirma.pl</li>
            <li>telefon: 123-456-789</li>
          </ul>
        </section>
      </main>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2560.9644721391332!2d19.912809!3d50.068227!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1spl!2spl!4v1672873539196!5m2!1spl!2spl" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
